// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


.nav-pills > button {
    margin-left: 12px;
}

.separator{
    margin: 48px 48px;
    border-bottom: solid 1px black;
}

.titles{
    text-align: center;
}

h2{
    color: #5f9bce
}

.content {
    // background-color: #edbb99;
    text-align: center;
    > h2 {
        padding-top: 24px;
    }
    > p {
        padding-bottom: 24px;
        width: 75%;
        margin: auto;
        text-align: justify;
    }
}

#map {
    margin-top: 24px;
    margin-bottom: 48px;
    height: 500px;
    width: 100%;
}

.contact{
    >h2{
        text-align: center;
    }
}